@page
@model IndexModel
@{
    ViewData["Title"] = "SEALZ Pub Exp";
}

<div class="text-center">
    <h1 class="display-4">Hello SEALZ</h1>
    <p> <a> This is Test page for Pub Exposure - US East2</a>.</p>
</div>

